@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FuenteMario'; /* Replace with your chosen font name */
  src: url('assets/fonts/PTSerif-Regular.ttf') format('ttf'),
  /* Add more src lines if you have different font file formats */
}

*{
  font-family: 'FuenteMario';
}

/*
.color1 { #997f65 };
.color2 { #cabcaf };
.color3 { #4f4234 };
.color4 { #ac9484 };
.color5 { #c8baac };

Color letra: #2B2B2B
Fondo: #E8E5E4
Marron pastel: #ab9680

*/

.c_marron_pastel {
  background-color: #ab9680;
}

.c3_hover:hover {
  background-color: #4f4234;
}

.c3 {
  background-color: #4f4234;
}
